.container{
    width: 46px;
    height: 24px;
    border: 1.5px solid #53c28b78;
    border-radius: 35px;
    justify-content:space-between ;
    align-items: center;
    display: flex;
    padding: 5px;
    position: relative;
   
}
.icon:nth-child(2){
    margin-left: 3px;
}

.icon{
    font-size: 12px;
}

.ball{
    width:15px;
    height: 15px;
    background-color: #53c28b;
    border-radius: 50%;
    position: absolute;
     transition: 3s ease;
}