.container{
    /* background-color: #fff; */
}

.content{
    display: flex;
    align-items: center;
    gap: 100px;
}

.imgContainer{
    flex:1;
   position: relative;    
     height: 550px;
}

.form{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.input, .textArea{
   
    font-size: 18px;
    padding: 20px;
    background-color: transparent;
    border: none;
     font-weight: bold;
     outline: none;
     color:#bbb;
     border: 3px solid #bbb
}

.image{
    object-fit:contain;
    animation: move 3s infinite ease alternate;

}
.title{
    color:aliceblue
}
.button {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #C69C60;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
transition: 1s ease;

    
}
.button:hover{
    background-color: #ead2b0;
    color : rgb(83, 82, 82)
}

@keyframes move {
     from{
        transform: translateY(-20px);
        
     }
     to{
        transform: translateX(-0px), scale(1.03);
     }
}

@media only screen and (max-width: 600px) {
    .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.title{
    font-size: 28px;
     margin-bottom: 30px;
}
.imgContainer{
    display:none;
}
.input, .textArea{
 
      width:90vw;
}
}


@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
    .imgContainer{
    display:none;
}

.title{
     margin-bottom: 40px;
}
}