.mainTitle{
    font-size: 40px;
    color:#b1946b;
    padding:15px ;

}

.selectedTitle{
    margin:15px 0px;
    color: white

}

.items{
    display: flex;
    gap: 50px;
    margin: 30px 0px;
}
.item{
    border: 5px solid white;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    position: relative;
    background-size: cover  !important;
   
}


.item:nth-child(1){
    background-image: url("/websites.png");

}
.item:nth-child(2){
    background-image: url("/logo & branding.png");
}
.item:nth-child(3){
    background-image: url("/graphics.png");
    

}
.title{
    position: absolute;
    color: white;
    right:10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
   transition: .5s ease-in-out;
}
.title:hover{
   color:#d9b98c
}

@media only screen and (max-width: 600px) {
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 768px) {
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}