.container{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white
}

.links{
    display: flex;
    align-items: center;
    gap:20px;
    padding-top: 5px;
 
}
.logo{
    margin-top: 7rem;
    margin-right: 7rem;
}

.logout{
    padding: 7px 9px;
    border: none;
    background-color: #C69C60;
    border-radius: 4px;
    color:white;
    cursor: pointer;
 transition: 1s ease;
    
}

.text{
    font-weight: medium;
    font-size: 13px;
    letter-spacing: 1.5px;
}

@media only screen and (max-width: 600px) {
    .container{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white
}
.logo{
   display: none
}
}
