.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    gap:20px
}
.logo{
    margin-top: 24px;
    margin-left: 40px;
}

.logout{
    padding: 7px 9px;
    border: none;
    background-color: #C69C60;
    border-radius: 4px;
    color:white;
    cursor: pointer;
 transition: 1s ease;
    
}
.logout:hover{
    background-color: #ead2b0;
    color : rgb(108, 107, 107)
}
.text{
    font-weight: medium;
    font-size: 13px;
    letter-spacing: 1.5px;
}
