.catTitle{
      color: #dab278;
      margin-left: 20px;
}

.item{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;

}
.item:nth-child(2n + 1){
    display: flex;
    flex-direction: row-reverse;
}



.imgContainer{
flex: 1;
height: 500px;
position: relative;

}
.img{
    object-fit: cover;
    border-radius: 20px;
    
}
.content{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    color:aliceblue

}
.title{
    font-size: 50px;
}
.desc{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .imgContainer{
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .imgContainer{
        display: none;
    }
}